.admin-forms-actionIcons {
	font-size: 1.2em;
}

.ant-table-cell[colspan="4"] {
	background-color: #f0f0f0;
}

.editRow {
	width: 100%;
	height: 100%;
}

.admin-forms-editRowItem div label {
	font-weight: bold;
}

.admin-forms-editRowItem-customURL div div div {
	display: flex;
	flex-direction: row;
}

.admin-forms-editRowItem-customURL div div div[role="alert"]:before {
	content: "";
}

.admin-forms-addWrapper {
	margin-bottom: 10px;
}
